In [1]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.4-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-macosx_11_0_arm64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 39.2 MB/s  0:00:00.4 MB/s eta 0:00:01
Downloading numpy-2.3.4-cp313-cp313-macosx_14_0_arm64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 36.1 MB/s  0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]━━━━ 3/4 [pandas]
Successfully installed numpy-2.3.4 pandas-2.3.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [18]:
names_dict = {"names": ["Leo", "Libby", "Sue", "Sam", "Max"]}

In [23]:
df = pd.DataFrame(names_dict)

In [24]:
df.to_csv("./data/names.csv", index=False)

In [25]:
df2 = pd.read_csv("./data/names.csv")

In [28]:
df.to_csv("./data/names3.csv")

In [ ]:
df3 = pd.read_csv("./data/names3.csv")

In [33]:
df.to_json("./data/names.json", index=False)

In [42]:
df["ages"] = [20, 26, 20, 18, 52]

In [60]:
df[df["names"].str.startswith("L")]

   names  ages
0    Leo    20
1  Libby    26

In [53]:
df[df["ages"] < 50]

   names  ages
0    Leo    20
1  Libby    26
2    Sue    20
3    Sam    18

In [55]:
df.names.to_list()

['Leo', 'Libby', 'Sue', 'Sam', 'Max']

In [ ]:
for i, row in df.iterrows():
    print(i)
    print(row)

0
names    Leo
ages      20
Name: 0, dtype: object
1
names    Libby
ages        26
Name: 1, dtype: object
2
names    Sue
ages      20
Name: 2, dtype: object
3
names    Sam
ages      18
Name: 3, dtype: object
4
names    Max
ages      52
Name: 4, dtype: object

In [62]:
for i, row in df.iterrows():
    print(f"WHAT A GREAT NAME, {row['names']}! WOW, WHAT A GREAT AGE, {row['ages']}!")

WHAT A GREAT NAME, Leo! WOW, WHAT A GREAT AGE, 20!
WHAT A GREAT NAME, Libby! WOW, WHAT A GREAT AGE, 26!
WHAT A GREAT NAME, Sue! WOW, WHAT A GREAT AGE, 20!
WHAT A GREAT NAME, Sam! WOW, WHAT A GREAT AGE, 18!
WHAT A GREAT NAME, Max! WOW, WHAT A GREAT AGE, 52!

In [63]:
abalone_df = pd.read_csv("./data/abalone.data.csv")

In [67]:
abalone_df["0.455"].mean()

np.float64(0.5240086206896553)